fastapi
uvicorn
python-multipart
python-dotenv
groq
pdfplumber>=0.11.5
filetype>=1.2.0
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
langchain-text-splitters
octochains
mcp
ollama